@media (min-height: 800px) {
    .item-copy {
        margin-bottom: 3rem;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #fff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}